<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	<title>MongodbLogger</title>
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<!--[if lt IE 9]>
		<link rel="stylesheet" href="stylesheets/ie.css">
	<![endif]-->
	<!-- IE Fix for HTML5 Tags -->
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->	  
</head>
<body>

    <div id="toolBar" class="container">
      <div class="row">
        <div class="four columns">
          <h1><%= link_to "MongodbLogger Example", root_path %></h1>
        </div>
        <div class="eight columns hide-on-phones">
        	<strong class="right">
        	  <%=link_to "MongodbLogger Web", mongodb_path %>
        		<a href="https://github.com/le0pard/mongodb_logger_example_heroku">Sources of application</a>
        		<a href="http://mongodb-logger.catware.org" class="small green nice button src-download">MongodbLogger gem</a>
        	</strong>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row">
        <div class="twelve columns centered">
          <%if notice %>
            <div class="alert-box success"><%= notice %> <a href="#" class="close alert-close">×</a></div>
          <%end%>
          <%if alert %>
            <div class="alert-box error"><%= alert %> <a href="#" class="close alert-close">×</a></div>
          <%end%>
        </div>
      </div>
    </div>

    <%= yield %>

</body>
</html>
